* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/main-background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header .text span {
    color: red;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logo a {
    font-size: 28px;
}

.header h2 {
    margin-left: 10px;
    color: white;
}

.logo .fa-solid {
    color: red;
}

.navLinks {
    flex: 1;
    text-align: right;
}

.navLinks ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navLinks ul li a {
    text-decoration: none;
    color: #fff;
}

.navLinks ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navLinks ul li:hover::after {
    width: 100%;
}

.text {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1, p {
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem
}

p {
    font-size: 1.2rem;
}

.text a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 15px;
    background: transparent;
    border: 1px white solid;
    color: white;
    position: relative;
    cursor: pointer;
}

.text a:hover {
    background: red;
    border: 1px red solid;
    transition: 1s;
}

nav .navLinks .fa-xmark,
nav .fa-bars {
    display: none;
}

.courses,
.campus,
.facilities,
.comments {
    margin: auto;
    width: 90%;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
}

.courses h5,
.courses h2,
.campus h2,
.facilities h2,
.comments h2 {
    color: black;
}

.courses h2,
.campus h2,
.facilities h2,
.comments h2 {
    margin-bottom: 15px;
}

.para {
    font-size: 1.1rem;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex-basis: 28%;
    background: rgb(139, 223, 214);
    width: 300px;
    height: auto;
    margin: 10px 0;
    padding: 15px;
    border-radius: 15px;
    transition: 0.6s;
}

.card h5 {
    margin-bottom: 10px;
    font-size: large;
}

.card:hover {
    transform: scale(1.08);
}

.cards2,
.cartes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.safi,
.agadir,
.emsi {
    flex-basis: 32%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.safi img,
.emsi img,
.agadir img {
    display: block;
    width: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s
}

.layer:hover {
    background:  rgba(226, 0, 0, 0.6);
}

.layer h3 {
    width: 100%;
    font-weight: 600;
    color: white;
    font-size: 26px;
    letter-spacing: -2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.carte {
    flex-basis: 31%;
    border-radius: 15px;
    margin-bottom: 5%;
    text-align: left;
}

.carte img {
    width: 100%;
    border-radius: 15px;
}

.carte:first-child{
    flex-basis: 25%;
}

.carte p {
    font-size: 1rem;
}

.carte h3 {
    margin-bottom: 20px;
}

.says {
    flex-basis: 44%;
    border-radius: 15px;
    margin-bottom: 5%;
    text-align: left;
    background: rgb(243, 151, 151);
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.view {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.says img {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.says p {
    padding: 0;
}

.says h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
}

span {
    color: white;
}

.says i {
    color: #f02a1c;
}

.contactus {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/contact.png);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 150px 0;
    color: #fff;
}

.contactus h2 {
    margin-bottom: 50px;
}

.contactus a {
    text-decoration: none;
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 20px;
}

.col a {
    text-decoration: none;
    color: black;
    background: transparent;
    border: 1px solid black;
    padding: 20px;
}

.comment-form button ,
.contacter-nous button {
    margin-top: 30px;
    width: 100px;
    color: black;
    background: transparent;
    border: 1px solid black;
    padding: 10px 20px;
}

.comment-form button:hover {
    background: red;
    border: 1px solid red;
    color: #fff;
    transition: 1s;
}

.comment-box h2 {
    color: red;
    margin-bottom: 40px;
}

.comment-form input {
    font-size: 1.2rem;
    padding: 15px;
    margin-bottom: 20px;
    outline: 0;
}

.comment-form textarea {
    font-size: 1.2rem;
    padding: 15px;
    outline: 0;
}

.comment-box {
    padding: 15px;
    border: 2px solid red;
}


.contactus a:hover ,
.col a:hover,
.contacter-nous button:hover {
    background: red;
    border: 1px red solid;
    transition: 1s;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h3 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.social-icons {
    margin-top: 30px;
    margin-bottom: 5px;
    color: rgb(87, 87, 216);
}

.social-icons a {
    margin-right: 15px;
}

.fa-facebook:hover,
.fa-linkedin:hover {
    color: blue;
}

.fa-github:hover {
    color: black;
}

.fa-instagram:hover {
    color: rgb(224, 25, 112);
}

.footer span {
    color: black;
    font-size: 15px;
}

.fa-heart:hover {
    color: red;
}

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/main-background2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1 {
    margin-top: 90px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-us .row {
    display: flex;
}

.about-us .col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-us .col img {
    width: 100%;
    border-radius: 15px;
}

.about-us h2 {
    padding-top: 0;
}

.about-us p {
    padding: 15px 0 25px;
}

.blogg {
    font-size: 2rem;
}

.blog-content {
    width: 70%;
    margin: auto;
    padding: 60px 0;
}

.leeft {
    flex-basis: 65%;
}

.blog-content .row {
    display: flex;
    justify-content: space-around;
}

.leeft h2 ,
.riight h2 {
    color: red;
    font-weight: 600;
    margin: 30px 0;
}

.comment-box {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contacter-nous {
    width: 80%;
    margin: auto;
}

.contacter-nous .col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contacter-nous input,
.contacter-nous textarea {
    outline: 0;
    font-size: 1rem;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}

.contacter-nous form {
    border: 2px solid red;
    padding: 15px;
}

.contacter-nous .row {
    display: flex;
}

.contacter-nous .col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contacter-nous h5,
.contacter-nous p {
    color: black;
}

.contacter-nous h5 {
    font-size: larger;
    font-weight: 600;
}

.contacter-nous p {
    font-size: 15px;
    font-weight: 300;
}

.contacter-nous .fa-solid {
    font-size: 28px;
    color: red;
    margin: 10px;
    margin-right: 30px;
}

@media (max-width: 600px) {
  
    .comment-box {
        width: 95%;
        margin: auto;
    }
    .blogg {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem
    }
    .navLinks ul li {
        display: block;
        margin: 20px 10px;
        padding: 10px 20px;
    }
    .navLinks {
        position: fixed;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    p,
    .text a {
        font-size: 1rem;
    }
    nav .navLinks .fa-xmark,
    nav .fa-bars {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }

    .cards,
    .cards2,
    .cartes,
    .view {
        flex-direction: column;
    }
    .safi,
    .agadir,
    .emsi {
        margin-bottom: 20px;
    }

    .contactus h2 {
        font-size: 1rem;
    }

    .footer p {
        font-size: 1rem;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

}